/* global */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #468c7f;
  --bs-teal: #58a698;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #ededed;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-black: #000;
  --bs-font-sans-serif: Arial, Helvetica, sans-serif;
  --bs-font-arial: Arial, Helvetica, sans-serif;
}
.bold {
  font-weight: bold;
}
.h1,
h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.h2,
h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
h3 {
  font-weight: 600;
  text-transform: uppercase;
}
input[type="checkbox"] {
  accent-color: var(--bs-teal);
  flex-shrink: 0;
  width: 25px !important;
  height: 25px;
}
a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--bs-teal);
}
/* global end*/

.button {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  line-height: 1;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 50px;
  text-transform: capitalize;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  transition: all 0.3s;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-white {
  background-color: #ffffff;
  border-color: #000;
  color: #000;
}
.button-black {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.button-black:hover {
  background-color: transparent;
  border-color: #000;
  color: #000;
}
.t-btn_wrap-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-85px);
  -ms-transform: translateX(-85px);
  transform: translateX(-85px);
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.t-btn_effects {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0.1)),
    to(rgba(255, 255, 255, 0.4))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4)
  );
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.button-transparent {
  background-color: transparent;
  color: #fff;
}
.button-green {
  background-color: var(--bs-green);
  color: #fff;
  border-color: var(--bs-green);
}
.button-green:hover {
  background-color: transparent;
  color: var(--bs-green);
  border-color: var(--bs-green);
}
.button-white:hover {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}
.button-transparent:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
/* header */
header {
  border-bottom: 1px solid var(--bs-gray);
}
.header_logo-row .self_logo {
  border-right: 1px solid black;
}
.nav-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header .navbar-nav .nav-link:hover,
.header_phone a:hover {
  color: var(--bs-teal);
}

.self_logo {
  max-width: 200px;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn-close:focus {
  box-shadow: none;
}
.dropdown-menu {
  border: none;
}
.phone-link,
.adress {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.phone-link:hover {
  color: var(--bs-teal);
}
.phone-link svg {
  transition: all 0.3s;
}
.phone-link:hover svg {
  fill: var(--bs-teal);
}
.t-sociallinks__item a svg path {
  transition: fill 0.3s;
}
.t-sociallinks__item a:hover svg path {
  fill: var(--bs-teal);
}
.menu-btn__icon {
  position: relative;
  width: 40px;
  height: 24px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.menu-btn__icon:hover {
  opacity: 1;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
}

.icon--menu span {
  display: block;
  width: 40px;
  height: 3px;
  background: var(--bs-black);
  transition: all 0.18s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.42, 1.36);
  transition-delay: 0.05s;
}
.icon--menu span:not(last-child) {
  margin-bottom: 8px;
}

.btn-close {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/25px auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.offcanvas-footer {
  padding: 1rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
}
.t-sociallinks__item {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* header end */

/* intro */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(0, 0, 0, 50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: color 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(0, 0, 0, 1);
}
.swiper-pagination-bullet-active {
  background-color: #000;
}
.intro_slider {
  margin-top: 101px;
  width: 100%;
  height: calc(100vh - 101px);
  min-height: 700px;
}

.intro_slider .swiper-slide {
  background-position: bottom 0 center;
  background-size: cover;
}
.intro_slider .container {
  padding-top: 40%;
  color: white;
  text-shadow: #000 1px 0 5px;
}
.intro_slider .button {
  text-shadow: none;
  box-shadow: none;
}
.intro_subtitle {
  font-size: 1.4rem;
}
.intro_slider-wrapper {
  position: absolute;
  bottom: 10%;
}
.intro_slider .button {
  max-width: 250px;
}

@media (max-width: 768px) {
  .self_logo,
  .partner_logo {
    width: auto;
    height: 25px;
  }
  h2 {
    font-size: 2rem;
  }
  .model_item {
    margin-bottom: 0 !important;
  }
  .intro_slider {
    margin-top: 55px;
    width: 100%;
    height: calc(100vh - 55px);
    min-height: 500px;
  }
  html,
  body {
    font-size: 14px;
  }
  .intro_slider .container {
    padding-top: 0;
    padding-bottom: 40%;
  }
  .intro_slider-wrapper {
    position: absolute;
    top: 0;
    bottom: auto;
    height: 100%;
    padding-top: 10%;
  }
  .intro_slider .button {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 1.5rem);
    max-width: 100%;
  }
}
/* intro_slider*/

/* models */
.model_preview {
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0 auto;
}
.lb-nav a.lb-next {
  background-image: url(assets/img/next.png) !important;
}
.lb-nav a.lb-prev {
  background-image: url(assets/img/prev.png) !important;
}
.models_model-image {
  position: absolute;
}
.relative {
  position: relative;
}
.model_image-row img {
  position: absolute;
  right: -1000px;
  transition: right 0.3s;
  top: -220px;
  width: 615px;
}
.swiper-slide-active .model_image-row img {
  right: 0;
}
.model_info {
  opacity: 0;
  transition: opacity 0.5s;
}
.swiper-slide-active .model_info {
  opacity: 1;
}
.model_info-key {
  font-size: 0.8rem;
}
.model_info-value {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}
.model_info {
  margin-top: 3rem;
}
.model_info-item:not(:last-child) {
  border-right: 1px solid #e9e9e9;
}
.model_info-buttons-row .button {
  max-width: 240px;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
}
.models .swiper-pagination-bullet {
  background-size: cover;
  width: 150px;
  height: 80px;
  border-radius: 0;
  transition: all 0.4s;
}
.models .swiper-pagination-bullet:first-child {
  background: url(/assets/img/dash.png) no-repeat center;
  background-size: cover;
}
.models .swiper-pagination-bullet:first-child:after {
  content: "Dashing";
  position: absolute;
  bottom: -20px;
  color: black;
  width: 100%;
  right: 0;
  display: block;
  text-align: center;
  font-weight: bold;
}
.models .swiper-pagination-bullet {
  position: relative;
}
.models .swiper-pagination-bullet:nth-child(2) {
  background: url(/assets/img/16772297998010.png) no-repeat center;
  background-size: cover;
}
.models .swiper-pagination-bullet:nth-child(2):after {
  content: "X90 PLUS";
  position: absolute;
  bottom: -20px;
  color: black;
  width: 100%;
  right: 0;
  display: block;
  text-align: center;
  font-weight: bold;
}
.models .swiper-pagination-bullet:hover {
  opacity: 1;
}
.models .swiper-pagination {
  left: 50%;
  margin-left: -660px;
  text-align: end;
  padding-right: 140px;
  bottom: auto;
  top: 535px;
}
.model_gallery a {
  width: 180px;
  height: 110px;
  background-size: cover !important;
  display: block;
  border-radius: 5px;
}
.model_gallery {
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  width: 640px;
  margin-left: auto;
  margin-top: -3rem;
  margin-right: 0;
  position: relative;
  opacity: 1;
  background: rgba(158, 165, 172, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 20px 25px;
}
.model_gallery .swiper-wrapper {
}
#consultModal textarea {
  height: 80px;
}
.model-swiper-button-next:after,
.model-swiper-button-prev:after {
  font-size: 1.4rem;
}
.model-swiper-button-next {
  right: -1px;
}
.model-swiper-button-prev {
  left: -1px;
}
.modal-title {
  line-height: 1.2;
}
.model_gallery .swiper-slide {
  pointer-events: all !important;
}
.curmodel_info {
  margin-top: 160px;
  padding-bottom: 60px;
}
.curmodel_info #myTabContent {
  max-height: none;
}
@media (max-width: 1200px) {
  .model_image-row img {
    width: 530px;
  }
  .models .swiper-pagination {
    left: 50%;
    margin-left: -480px;
    text-align: end;
    padding-right: 0;
    bottom: auto;
    top: 535px;
  }
  .models_all-offcanvas {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .models_all-info-col {
    order: 2;
  }
  .nav-tabs .nav-link {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .mySwiper3 {
    margin-bottom: 20px;
  }
  .offcanvas-body {
    padding: 0;
  }
  .model_preview {
    height: 15rem;
  }
  .model_info-buttons-row {
    flex-wrap: wrap;
  }
  .model_gallery {
    margin-top: 2rem;
    margin-left: 0;
  }
  .model_info h2 {
    padding-top: 9rem !important;
  }
  .models .swiper-pagination {
    left: 0;
    margin-left: 0;
    text-align: start;
    padding-right: 0;
    bottom: auto;
    top: 535px;
    top: 320px;
  }
}
@media (max-width: 600px) {
  .model_gallery a {
    width: 100%;
    height: 13rem;
  }
  .model_image-row img {
    width: 95vw;
    top: -170px;
  }
  .models .swiper-pagination {
    top: 270px;
  }
  .models_all-offcanvas .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .models_all-offcanvas .nav {
  }
  .nav-tabs {
    border-bottom: 0px solid #dee2e6;
  }
}

/* end models*/

/* cta_test-drive */
.input,
.select,
textarea {
  color: #000000;
  border: 1px solid #c9c9c9;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  display: block;
  min-width: 240px;
}
.input:focus,
.select:focus,
.input:active,
.select:active {
  border-color: var(--bs-teal);
  outline: none !important;
}
.cta_test-drive {
  background-color: #f5f7f8;
  background-image: url(/assets/img/asd2.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.select {
  background-image: url("assets/img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 1rem auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (max-width: 1200px) {
  .cta_test-drive {
    background-position: right -70% center;
  }
}
@media (max-width: 1000px) {
  .cta_test-drive {
    background-position: top 0% center;
    padding-top: 45vw !important;
  }
}
@media (max-width: 600px) {
  .cta_test-drive .input,
  .cta_test-drive button,
  .cta_test-drive .select {
    width: 100%;
  }
  .model_info-value {
    font-size: 1rem;
  }
  .models .swiper-pagination-bullet {
    width: calc(50% - 10px);
  }
}
/* end cta_test-drive */
/* about-brand */
.about__video {
  max-width: 640px;
  width: 100%;
  max-height: 360px;
  height: 100%;

  overflow: hidden;
}
.about__video video {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

/*contacts */
.contacts__content .lightgray {
  font-weight: bold;
  line-height: 1.4;
}
.contacts {
  background: #f5f7f8;
}
.contacts__content .lightgray span,
.contacts__content .lightgray a {
  font-weight: 400;
  line-height: 1.2;
}
.contacts__content textarea {
  height: 96px;
  padding-top: 10px;
}
.agreement p {
  font-size: 0.8rem;
  line-height: 1.1;
  margin-bottom: 0;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .input,
  .select,
  textarea {
    min-width: unset;
  }
}
@media (max-width: 768px) {
  .content-col {
    order: 2;
    margin-top: 1.4rem;
  }
  #contact_list_form .agreement {
    margin-top: 1rem;
  }
  .agreement-wrapper {
    flex-direction: column;
  }
}
/* contacts */

/* benefits */
.benefits {
  padding: 40px 0px;
  /*background: linear-gradient(
      100.46deg,
      rgba(183, 183, 183, 0.1) 0%,
      rgba(183, 183, 183, 0) 63.29%
    ),
    #f5f7f8;*/
  font-family: "Arial";
  position: relative;
  overflow: hidden;
}
.benefits__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  color: #000;
  margin-bottom: 50px;
}
.benefits__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  background: rgba(158, 165, 172, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 32px;
}
.benefits__item {
  display: flex;
  gap: 16px;
}
.benefits__icon {
  width: 56px;
  height: 56px;
  background: rgba(85, 139, 127, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.benefits__icon img {
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.benefits__info {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.benefits__info__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}
.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #5a5a5a;
}
.benefits__form {
  width: 50%;
  margin-top: 32px;
}
.benefits__form .form__input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #000;
}
.benefits__form .form__politika {
  color: #000;
}
.benefits__form .form__placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.benefits__image {
  position: absolute;
  bottom: -7%;
  right: 0;
}
/*models-all*/
.models-all h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.models-all_list {
  padding-left: 20px;
}
.moades-all_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.models-all_item-imag-wrap {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}
.oldprice {
  text-decoration: line-through;
  color: #bdbdbd;
}
.models-all_price {
  font-size: 1.2rem;
}

/* models_all-offcanvas */
.models_all-offcanvas {
  width: 1200px;
}
.models_all-offcanvas-row {
  width: 100%;
}
.mySwiper3 {
  margin-top: 10px;
}
.mySwiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper3 .swiper-slide {
  opacity: 0.5;

  transition: opacity 0.4s;
}
.w-100 {
  width: 100%;
}
#myTabContent {
  max-height: 270px;
  overflow-y: auto;
}
#myTabContent::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar {
  width: 6px;
}
.models-all_item {
  background: #f5f7f8;
  padding: 15px;
  z-index: 2;
}
.models-all {
  position: relative;
  overflow: hidden;
}

#myTabContent::-webkit-scrollbar-track,
.offcanvas-body::-webkit-scrollbar-track {
  background-color: var(--bs-gray);
  border-radius: 6px;
}
#myTabContent::-webkit-scrollbar-thumb,
.offcanvas-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bs-teal);
  border-radius: 5px;
}
.tab-pane ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 30px;
}
.photo-nav {
  cursor: pointer;
  color: var(--bs-teal);
  transition: color 0.3s;
}
.photo-nav:hover {
  color: var(--bs-gray-dark);
}
.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper4 .swiper-slide {
  width: 100% !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-link:hover {
  color: var(--bs-teal);
}
.tab-pane {
  padding-top: 20px;
}
.nav-link {
  color: var(--bs-gray-dark);
}
.mySwiper4 .swiper-slide img {
  width: 100% !important;
}
.mySwiper3 .swiper-slide:hover {
  opacity: 1;
}
.color_item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--bs-gray);
}
.models_all-info-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .benefits__image {
    bottom: -7%;
    right: 0;
  }
}
@media (max-width: 1280px) {
  .benefits__image {
    bottom: -8%;
    right: -12%;
  }
}
@media (max-width: 1225px) {
  .benefits {
    overflow: hidden;
  }
  .benefits__image {
    bottom: -8%;
    right: -15%;
  }
  .benefits__form {
    width: 55%;
  }
  .moades-all_row {
  }
}
@media (max-width: 1000px) {
  .moades-all_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 769px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #myTabContent {
    max-height: none;
  }
  .moades-all_row {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .models_all-offcanvas .container-fluid {
    padding-right: 0 !important;
  }
  .btn-close {
    width: 20px;
    height: 20px;

    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/20px auto no-repeat;
  }
  .tab-pane ul {
    grid-template-columns: repeat(1, 1fr);
  }
  h2 {
    margin-bottom: 1.6rem;
  }
  .benefits {
    padding: 24px 0px;
  }
  .benefits ._container {
    padding: 0;
  }
  .benefits__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 105%;
    padding: 0 16px;
    order: 1;
    margin-bottom: 0;
  }
  .benefits__grid {
    row-gap: inherit;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    flex-direction: row;
    order: 2;
    border-radius: 0;
  }
  .benefits__grid::-webkit-scrollbar {
    display: none;
  }
  .benefits__info {
    width: 100%;
  }
  .benefits__icon {
    position: relative;
    width: 56px;
    height: 56px;
  }
  .benefits__form {
    padding: 0 16px;
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 3;
    order: 4;
  }
  .benefits__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    min-width: 288px;
  }
  .benefits__image {
    width: 100%;
    position: relative;
    right: inherit;
    bottom: auto;
    order: 3;
    text-align: center;
    margin-top: -8%;
  }
  .benefits__img {
    width: 100%;
  }
  .benefits__row {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
}
@media (max-width: 480px) {
  .benefits .form__container_inp {
    flex-direction: column;
    gap: 50px;
  }
  .benefits .form__btn {
    width: 100%;
    max-width: 100%;
  }
  .benefits .politic {
    position: absolute;
    bottom: 37%;
    z-index: 3;
  }
}
@media (max-width: 420px) {
  .benefits__image {
    margin-top: -13%;
  }
}
/* footer*/
footer .t-sociallinks__item {
  margin-bottom: 0;
}

/* animation */

@-webkit-keyframes flash {
  20% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes flash {
  20% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes flash-md {
  30% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes flash-md {
  30% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes flash-lg {
  40% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes flash-lg {
  40% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
